body-content#reset-page {
    grid-template-areas:
        "header"
        "reset";
}

reset-area {
    grid-area: reset;
    display: flex;
    justify-content: center;
    background-color: var(--interest-color-lt);
    border: var(--body-border) solid var(--colorless-dk);
    padding: 4px;
}

reset-form {
    justify-self: center;
    display: grid;
    grid-template-areas:
        "label_1 entry_1"
        "alert alert"
        "btn btn";
    gap: 5px;
    padding: 5px;

    & > inline-alert {
        grid-area: alert;
    }

    & > button {
        grid-area: btn;
        justify-self: center;
    }
}
